*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(95, 160, 133);
}

#container{
    max-width: 1000px;
    display: block;
    margin: auto;
    background-color: rgb(240, 440,440);
}

header{
    padding: 20;
    background-color: burlywood;

}

#logo{
    display: block;
    margin: auto;
    width: 100px;
}

h1{
    text-align: center;
    font-size: 50px; 
    font-family: 'Lusitana', serif;
    margin-bottom: 10px;
}

.menu {
    text-align: center;
    padding-left: 10px;

}

.menu a{
    text-decoration: none;
    font-size: 25px;
    font-family: Arial, sans-serif;
    color: rgb(240, 216, 216);
    border-left: 10px;
    border-right: 10px;
    border: 1px solid rgb(18, 102, 67);
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(18, 102, 67);
    margin: 10px;
    
}
.menu a:hover{
    background-color: brown;
    border: brown;
}


.titulo{
    font-size: 70px;
    text-align: center;
    
}

.titulo2{
    text-align: center;
    font-size: 30px;
}

.principal{
    text-align: center;
    list-style: none;
}

ul{
    text-align: center;
    padding-left: 10px;
}    

li{
    list-style: none;
    display: inline-block;
    font-family: Arial, sans-serif;
    
}

.pizza{
    margin-bottom: 20px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 15px;
    background-color: rgba(95, 95, 95, 0.1);
}

.images{
    width: 280px;
    height: 180px;
    
}

h6{
    font-size: 22px;
    text-transform: uppercase;
}
.pizza p{
    font-size: 20px;
    max-width: 280px;
}

.recheio{
    font-size: 17px;    
}


section{
    background-color: rgb(153, 43, 43);
}

section h3{
    font-size: 40px;
    text-align: center;
}

section img{
    width: 120px;
    display: block;
    margin: auto;
}


.footer-content{
    text-align: center;
}

.footer-content h3{
    font-size: 30px;
}

.footer-content p{
    font-size: 20px;
}

.footer-content img{
    width: 40px;
}




@media only screen and (max-width: 600px){
    #container{
        width: 100%;
    }

    .menu{
        margin-top: 20px;
        margin: 0px;
        padding: 0px;

    }

    .menu a{
        background-color: rgb(18, 102, 67);
        display: block;
        margin-bottom: 5px;
        padding-top: 6px;
        border-radius: 5px;
    }
        
    .titulo{
        font-size: 40px;
    }

    .titulo2{
        font-size: 25px;
    }

}

