*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(95, 160, 133);
}
#container{
    max-width: 1000px;
    display: block;
    margin: auto;
    background-color: rgb(240, 440,440);
}
header{
    padding: 20;
    background-color: burlywood;

}
#logo{
    display: block;
    margin: auto;
    width: 100px;
}
h1{
    text-align: center;
    font-size: 50px; 
    font-family: 'Lusitana', serif;
    margin-bottom: 10px;
}

.menu {
    text-align: center;
    padding-left: 10px;

}

.menu a{
    text-decoration: none;
    font-size: 25px;
    font-family: Arial, sans-serif;
    color: rgb(240, 216, 216);
    border-left: 10px;
    border-right: 10px;
    border: 1px solid rgb(18, 102, 67);
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(18, 102, 67);
    margin: 10px;
    
}
.menu a:hover{
    background-color: brown;
    border: brown;
}



h2{
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}

ul{
    text-align: center;
    padding-left: 10px;

}

li{
    list-style: none;
}

.lista{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(95, 95, 95, 0.1);
    
    font-size: 25px;
    padding: 10px;
    font-family: Arial, sans-serif;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 5px;
}

.pizzas img{
    width: 280px;
    height: 180px;
}

h6{
    font-size: 26px;
    text-transform: uppercase;
    padding-left: 10px;
    max-width: 200px;
}

.pizzas p{
    max-width: 200px;
    padding-left: 20px;
}
.bebidas{
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 25px;
    padding: 0px;
    font-family: Arial, sans-serif;
    margin-right: 5px;
    margin-top: 5px;
}
samp{
    font-weight: bold;
    margin-left: 5px;
}



#s2{
    background-color: rgb(153, 43, 43);
}
#s2 li{
    list-style: none;
    display: inline-block;
}
#s2 h3{
    font-size: 40px;
    text-align: center;
}
#s2 img{
    width: 120px;
    display: block;
    margin: auto;
}

.footer-content{
    text-align: center;
}

.footer-content li{
    list-style: none;
    display: inline-block;
}

.footer-content h3{
    font-size: 30px;
}

.footer-content p{
    font-size: 20px;
}

.footer-content img{
    width: 40px;
}




@media only screen and (max-width: 600px){
    #container{
        width: 100%;
    }

    .menu{
        margin-top: 20px;
        margin: 0px;
        padding: 0px;

    }

    .menu a{
        background-color: rgb(18, 102, 67);
        display: block;
        margin-bottom: 5px;
        padding-top: 6px;
        border-radius: 5px;
    }

    h2{
        font-size: 40px;
    }

    .pizzas li{
        display: block;
        align-items: center;
        justify-content: none;
        padding-top: 20px;
    }

    .pizzas p{
        max-width: 300px;
    }
    h6{
        max-width: none;
    }
}